.add-player {
  margin-bottom: 1rem;

  input {
    font-size: 1rem;
    flex-grow: 1;
    padding: 0.5rem;
  }

  &-btn {
    background-color: #27ae60;
    color: #fff;
  }
}

.player {
  margin-bottom: 1rem;

  p {
    margin: 0;
  }

  &-btn {
    border: none;
    padding: 0.15rem 0.5rem;
    font-size: 1rem;
    margin-left: 0.5rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
}

.start-game {
  border: none;
  background-color: #2980b9;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 100%;
}