.header {
  background-color: #34495e;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  color: #fff;
}

.main-nav {
  a {
    display: inline-block;
    padding: 1rem;
    color: #fff;
  }
}