.header {
  background-color: #34495e;
  margin-bottom: 1rem;
  color: #fff;
  padding: 1rem;

  &-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
    @media screen and (min-width:768px) {
      justify-content: space-between;
    }
  }
}

.main-nav {
  a {
    display: inline-block;
    padding: 1rem;
    color: #fff;
  }
}